.bookmark-list-item {
    list-style: none;
}

.bookmark-title {
    font-size: 1rem;
}

.bookmark-image {
    max-width: 10rem;
}

.bookmarks-directory {
    display: grid;
    grid-template-columns: auto auto;
}